:root {

  /* Global Variables */
  --pink-color: #FA96AA;
  --gray-color: #707070;
  --light-gray-color: #D9D9D9;
  --gray-transparent-color: #00000029;
  --black-transparent-color: #000000E6;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --light-pink-color: #F7F0F2;
  --light-pink-color2: #F3EDED;

  /* Component Specific Variables */
  --box-color: #fff;
}

@media (prefers-color-scheme: dark) {

  :root {
    
    /* Global Variables */
    --main-color: #333;


    /* Component Specific Variables */
    --box-color: rgb(235, 235, 160);

  }

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--white-color);
}

body {
  background-color: var(--white-color);
  ;
}

a {
  color: inherit;
  text-decoration: underline;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
